<div class="form-group row">
    <label class="col-xs-4 col-form-label" attr.for="{{field.name}}-{{moduleId}}-bottom">{{ field.name }} von:</label>
    <div class="col-xs-8">
        <select class="form-control" id="{{field.name}}-{{moduleId}}-bottom" name="{{ field.name }}_von"
                (change)="update('bottom', $event)">
            <option value="">bitte wählen</option>
            <option *ngFor="let val of field.map" value="{{val}}">{{ val }}<span
                    class="counter">[{{ _count[val]|async }}]</span></option>
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-xs-4 col-form-label" attr.for="{{field.name}}-{{moduleId}}-top">{{ field.name }} bis:</label>
    <div class="col-xs-8">
        <select class="form-control" id="{{field.name}}-{{moduleId}}-top" name="{{ field.name }}_bis"
                (change)="update('top', $event)">
            <option value="">bitte wählen</option>
            <option *ngFor="let val of field.map" value="{{val}}">{{ val }}<span
                    class="counter">[{{ _count[val]|async }}]</span></option>
        </select>
    </div>
</div>
