<div class="form-group row">
    <label class="col-xs-4 col-form-label" attr.for="{{field.name}}-{{moduleId}}-bottom">{{ field.name }} von:</label>
    <div class="col-xs-8">
        <input id="{{field.name}}-{{moduleId}}-bottom" type="date" name="{{ field.name }}_bottom"
               class="form-control" bindon-ngModel="props.bottom[field.name]" (change)="update()"/>
    </div>
</div>
<div class="form-group row">
    <label class="col-xs-4 col-form-label" attr.for="{{field.name}}-{{moduleId}}-top">{{ field.name }} bis:</label>
    <div class="col-xs-8">
        <input id="{{field.name}}-{{moduleId}}-top" type="date" name="{{ field.name }}_top"
               class="form-control" bindon-ngModel="props.top[field.name]" (change)="update()"/>
    </div>
</div>