span.cell{
  display: inline-block;
}
.cell{
  min-width: 100px;
  border: 2px solid #202050;
  background: #c8def4;
  padding: 4px 8px;
  border-right-width: 0;
  border-top-width: 0;
}

.cell:last-child{
  border-right-width: 2px;
}

.cell-color-red{
  background: #cd0a0a;
}

.cell-color-yellow{
  background: #fbd850;
}

.cell-color-blue{
  background: #528CE0;
}

.result-list .cell:first-child .cell,
.result-list thead td.cell
{
  border-top-width: 2px;
}
.contentbox{
  background: #92a9ff;
}