<div class="filter">
    <my-filter (filtered)="calculate()"></my-filter>
</div>
<div class="content">
    <h3>all cars</h3>
    <ul class="result-list">
        <li><span class="cell head" *ngFor="let field of (model._eq.fields); let i = index"><field-sort [cardinality]="i" [field]="field" [ordFields]="model._ord.fields" [dir]="dir" (directionChange)="directionChange($event)" (sortFieldChange)="sortFieldChange($event)"></field-sort></span></li>
        <li *ngFor="let car of result"><span class="cell cell-{{field.name}}-{{car[field.name]}}" *ngFor="let field of (car._eq.fields)">{{car[field.name]}}</span></li>
    </ul>
</div>
